{% block _edit_password_oldPassword_row %}
    <div class="form-group mb-3">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control', 'placeholder': 'Current password'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
{% block _edit_password_newPassword_first_row %}
    <div class="form-group ">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control', 'placeholder': 'Your new password'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
{% block _edit_password_newPassword_second_row %}
    <div class="form-group mt-3">
        {{ form_label(form) }}
        {{ form_widget(form, {'attr': {'class': 'form-control', 'placeholder': 'Confirm your new password'}}) }}
        {{ form_errors(form) }}
    </div>
{% endblock %}
